@page "/error"
@inherits ErrorBase

<div class="container h-100 pt-2">
    <div class="row mt-2 text-center">
        <h3 class="m-auto">Algo deu errado</h3>
    </div>
    <div class="row mt-2 text-center">
        <button type="button" class="button-solid m-auto" @onclick="ToggleCollapseState">Detalhes</button>
    </div>
    <div class="row mt-2 collapsible @(Collapsed ? "collapsed" : "expanded")">
        @if (@service?.State.CurrentError != null)
        {
            <p>@service?.State.CurrentError.Message</p>
            <p>@service?.State.CurrentError.StackTrace</p>
            <b>Veja o log para mais detalhes</b>
        }
    </div>
</div>