@page "/"
@inherits IndexBase

@if (service.State.LoggedUser != null)
{
    @if (Loading)
    {
        <div>Carregando...</div>
    }
    else
    {
        <div class="container">
            <div class="row cabecalho my-2">
                <span class="col-1">Id</span>
                <span class="col-5">Nome</span>
                <span class="col-2">telefone</span>
                <span class="col-2">Editar</span>
                <span class="col-2">Remover</span>
            </div>
            @foreach (var client in Clients)
            {
                <div class="row @(Clients.IndexOf(client) % 2 == 0 ? "list-line-even" : "list-line-odd")" id="Row-@(client.Id)">
                    <span class="col-1" id="Id-@(client.Id)">@client.Id</span>
                    <span class="col-5" id="Name-@(client.Id)">@client.Name</span>
                    <span class="col-2" id="PhoneNumber-@(client.Id)">@client.PhoneNumber</span>
                    <span class="col-2 list-button oi oi-pencil" @onclick="() => EditClient(client.Id)" id="Edit-@(client.Id)"></span>
                    <span class="col-2 list-button oi oi-trash" @onclick="() => RemoveClient(client.Id)" id="Remove-@(client.Id)"></span>
                </div>
            }
        </div>
    }
}